<ion-view title="تست جسارت">
  <ion-content>

    <div class="content has-header">

      <div class="card">
        <div class="item item-divider">
          سوال {{ question.id }}
        </div>
        <div class="item item-text-wrap">
          {{ question.question }}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced button-large icon icon-right ion-checkmark-circled" on-touch="correct(question.id)">
            درست
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-assertive button-large icon ion-ios7-close icon-right" on-touch="not_correct(question.id)">
            غلط
          </button>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
