<ion-view title="تست جسارت">
  <ion-content  scroll="true">


      <div class="row ">
        <div class="col">
نتیجه تست شما :
          <p class="present">{{results}}</p>
        </div>
      </div>
      <div clas="row ">
        <div class="col">
          <a href="#/description" class="button button-royal button-block">
            توضیحات
          </a>
        </div>
        <div class="col">
          <a href="#/" class="button button-energized  button-block">
            صفحه اصلی
          </a>
        </div>
      </div>


  </ion-content>
</ion-view>
