<ion-view title="تست جسارت">
  <ion-content>

    <div class="content">
      <div class="row row-center">
        <div class="col" id="">
          <div class="card" >
            <div class="item item-text-wrap home_text" id="text-description">
              <p style="text-align='justify'" >
                بعضی‌ها با آن که آنقدرها هم جسور نیستند، در نظر دیگران جسور جلوه می‌کنند.
                وقتی به چنین افرادی فکر می‌کنیم، شخصیت‌های خاصی به ذهنمان خطور می‌کنند، قهرمانان اتومبیل رانی قهرمانان موتور سواری، مدیران بزرگ و نامدار و ...
                <br>
                با توجه به بررسی‌های صورت گرفته افراد جسور اقلب از اعتماد به نفس بیشتری برخوردارند و نسبت به کسانی که جسارت ندارند بهره هوشی بیشتری دارند اما این در نهایت تنها بخشی از تصویر است.
                <br><br>
                در دانشکده روانپزشکی دانشگاه لندن دو تن از استادان درباره اشخاص ماجراجو بررسی‌های مفصلی صورت دادند آن‌ها بعد از بررسی ۱۲۰۰ نفر به این نتیجه رسیدند که افراد جسور بیشتر برون‌گرا و تابع امیال آنی هستند اما برخلاف باور خیلی‌ها اقدامات جسورانه آن‌ها هیچ ارتباطی با شخصیت روانیشان ندارد<br>
                این روانشناسان به این نتیجه رسیدند از یک دوم تا دو سوم جسور بودن اشخاص ارثی است.
              </p>
              <center>
                <a href="#/start/1" class="button button-balanced center">
                  شروع
                </a>
                <br><br>
                <div class="home_image">

                </div>


                <br><br>
              </center>
            </div>
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
