<!DOCTYPE html>
<html dir='rtl' lang='fa'>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <%= stylesheet_tag 'application', expand: Susanoo::Project.debug %>

    <title>Audacity</title>
  </head>
  <body>


    <ion-side-menus>

      <ion-pane ion-side-menu-content>

        <ion-nav-bar class="bar bar-calm">
          <ion-nav-buttons side="right">
            <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
          </ion-nav-buttons>
        </ion-nav-bar>


        <ion-nav-view  animation="slide-right-left">

          <!-- Center content -->
        </ion-nav-view>


      </ion-pane>

      <ion-side-menu side="right" ng-controller="NavController">
        <header class="bar bar-header bar-calm">
          <h1 class="title" translate>تست جسارت</h1>
        </header>
        <ion-content class="has-header">

          <ion-list>
            <ion-item nav-clear menu-close href="#/" translate>
              <i class="icon ion-clock"></i> شروع تست
            </ion-item>
            <ion-item nav-clear menu-close href="#/description" translate>
              <i class="icon ion-document-text"></i> توضیحات
            </ion-item>

            <ion-item nav-clear menu-close ng-click="exitFromApp()" translate>
              <i class="icon ion-log-out"></i> خروج
            </ion-item>

          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>

    <script type="text/javascript" src="cordova.js"></script>
    <%= javascript_tag 'application', expand: Susanoo::Project.debug %>
  </body>
</html>
